@using YuwaWebApp.Models
@{
    ViewBag.Title = "Coach List";
}

@model TeamConfigurations

<div id="body">
    <div class="container">
        <div class="row">
            <div id="students" class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item active">
                        Students <span class="badge"> @Model.UnAllocatedSudents.Count </span>
                    </li>
                    @foreach (StudentDetail s in Model.UnAllocatedSudents)
                    {
                        <li class="list-group-item" id="@s.Id.ToString()"> @s.FirstName </li>
                    }
                </ul>
            </div>
            <div id="teams" class="col-md-9">
                <div class="row">
                    @foreach (TeamDetail t in Model.Teams)
                    {
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item active">
                                    @t.TeamName
                                    <span class="badge"> @t.Students.Count </span>
                                </li>
                                @foreach (StudentDetail ts in t.Students)
                                {
                                    <li class="list-group-item" id="@ts.Id.ToString()"> @ts.FirstName </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>

            <div id="content" style="height: 400px;">
                <div id="makeMeDraggable"> </div>
            </div>
        </div>
    </div>
</div>

<style>
    table {
        margin-top: 10%;
        width: 50%;
    }
</style>

<script>
    $(document).ready(function () {
        $('#1').draggable();
    });


    function init() {                
    @foreach (StudentDetail s in Model.AllStudents)
    {
        <text>
            $('#@s.Id.ToString()').draggable();
        </text>                            
    }
}

</script>